html,
body {
  height: 100%;
}
main.fixed-center {
  height: 80%;
}
main {
  background: #dfd0c7;
}
header,
footer.fixed-bottom {
height: 10%;
}
header,
main.fixed-center,
article,
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main.fixed-center {
  justify-content: space-evenly;
}

header,
footer {
  background-color: #4b3320;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  border-radius: 2px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #0f0808;
}
li a:hover.active {
  cursor: default;
}

.active {
  background-color: #9b5821;
}

p {
  font-size: 20px;
  font-weight: 600;
}

.clickable {
  cursor: pointer;
}

article {
  position: relative;
}
article > p {
  position: absolute;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  top: 42%;
  text-shadow: 0 0 12px #342423;
  opacity: 0;
}
article:hover > p {
  opacity: 1;
}

figure {
  float: right;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  font-style: italic;
}

figure > img {
  max-width: 500px;
  height: auto;
}

.rendered {
  margin-right: 1em;
  height: 357px;
}

button#advice {
  outline: none;
  padding: 15px;
  background: #4b3320;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid #4b3320;
  border-radius: 3px;
  cursor: pointer;
}

h2.forecast {
  color: #9b5821;
}

.weatherIcon {
  text-align: center;
  background: #9E9E9E;
  margin: 16px 2px;
  border-radius: 10px;
  width: 88%;
}
